@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    background-color: teal;
    font-family: 'Fredericka the Great', cursive;
}

#fontweightstyle{
    border: 2px solid black;
    height: 100px;
    
}

#fontweightstyle p{
    font-weight: 500;
    /*font-style: italics;
    Can use as emphasis*/
}

.repeatedBold{
    color: white;
    font-weight: 800px;
}

#pseudo{
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;
    padding-top: 10px;
    transition: 
        padding 2s
        ease-in-out;
}

#pseudo:hover{
    padding-top: 30px;
}

.button{
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 3px 5px black;
    cursor: pointer;
}

.button:hover {
    background-color: lightgreen;

}

.button:active {
    background-color: gray;
    box-shadow: 5px 4px 1px white;

}
.button:nth-last-child(2n + 1){
    background-color: lightpink;
}

#menu div:nth-child(3n+1){
    background-color: white;
    padding: 5px;
    margin-top: 1px;
}